.btn-blue {
	background-color: green;
	color: white;
	font-weight: bold;
	font-family: Roboto, sans-serif;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	text-transform: uppercase;
	padding: 15px 35px;
	align-items: center;
}

.btn-blue:hover {
	background-color: lightgreen;
    color: darkgreen;
}